h2, p{
    text-align: center;
}

button{
    width:100%;
    text-align: center;
    background-color: var(--primary-400);
}

input{
    width:100%;
    margin-bottom: 10px;
    text-align: center;
}