.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
  }
  
  .container .image {
    margin-right: 1rem;
    max-width: 100%;
  }
  
  .container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 3rem;
    text-shadow: 2px 2px 4px white(0, 0, 0, 0.5);

    z-index: 1;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  /*.container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/images/GuessTheMovie_favourite.png");
    background-size: cover;
    z-index: 0;
  }*/
  
  


/*Stili della tabella anche su mobile*/


h1,
p {
    text-align: center;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    overflow-x: auto;
}

th {
    border: 5px solid white;
    padding: 8px;
    text-align: center;
  }
  
  @media (max-width: 767px) {
    th {
      padding-bottom: 10px;
    }
  }

th {
    background-color: var(--primary-100);
    font-weight: bold;
}

td {
    border: 1px solid var(--primary-100);
    padding: 8px;
    text-align: left;
  }
  
  @media (max-width: 767px) {
    td {
      text-align: center;
      padding-bottom: 10px;
    }
  }

  img.movie-poster {
    justify-content: center;
    max-width: 100px;
    display: block;
    margin: 0 auto;
  }

td.rating {
    text-align: center;
}



ngb-rating{
    color: var(--secondary-300);
}

mat-icon{
    color: var(--secondary-400);
}

mat-icon:hover {
    cursor: pointer;
    color: var(--secondary-900);
  }
  

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .image {
    margin-right: 1rem;
    width: 150px;
  }


  //mediaquery per la visualizzazione corretta su mobile
  @media (max-width: 767px) {
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
      width: 100%;
    }
    thead {
      display: none;
    }
    tr {
      border-bottom: 1px solid var(--primary-100);
      margin-bottom: 10px;
    }
    td {
      position: relative;
      text-align: center;
      font-size: 1.4rem;
      vertical-align: middle;
      margin: 0 auto;
      position: relative;
      align-items: center;
    }
    td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-right: 15px;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
    }
    th,
    td {
      border-bottom: 2px solid var(--primary-100);
    }
    img.movie-poster {
      justify-content: center;
      max-width: 100px;
    }
    td.review {
      font-size: 1rem;
    }
  }
  