<div class="row">
    <div class="row">
        <div>
            <h1>Benvenuto in Guess The Movie!™,<br>il gioco definitivo per cinefili.</h1>
            <h2>Regole del gioco:</h2>
            <ol>
                <li>Clicca sul pulsante "Inizia gioco" per far partire il timer e iniziare il gioco.</li>
                <li>Troverai come unico indizio il poster del film sfuocato, prova a indovinare!</li>
                <li>Inserisci il nome del film nel campo di input e premi "Invia". Fai attenzione a spazi, punteggiatura e eventuali sottotitoli. Hai a disposizione solo pochi secondi per indovinare il film, quindi sii veloce!</li>
                <li>Inserisci il nome del film nel campo di input e premi "Invia".</li>
                <li>Ogni volta che cliccherai su un campo per avere un indizio il timer aumenterà di 30 secondi.</li>
                <li>Se indovini il film, potrai aggiungerlo alla tua lista dei preferiti e lasciare una breve recensione.</li>
                <li>Cerca di indovinare il maggior numero di film possibile prima che il tempo scada.</li>
                <li>Buon divertimento e buona fortuna!</li>
            </ol>

            <h3>Ricorda, il gioco è più divertente se condiviso con gli amici.</h3>
        </div>
    </div>

</div>